.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 auto;
}
.footer .footer-heading h4{
    font-size: 18px;
    margin-top: 17px;
}
.footer-links li{
    list-style: none;
    margin-top: 10px;
}
.footer-links li a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(104, 106, 106);

}
/* Style for the social access container */
.social-access {
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #635f63;
    border-radius: 2px;
}

/* Style for the header */
.social-access h3 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Style for the social links */
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-links svg {
    width: 40px;
    height: 40px;
    fill: #555;
    transition: transform 0.3s ease;
    margin: 20px 10px;
}

.social-links svg:hover {
    fill: #701e7d;
    transform: translateY(-3px);
    transform: scale(1.08);
}
.copyright{
    display: flex;
    align-items: center;
    color: #333;
    justify-content: center;padding-bottom: 20px;
}
